@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper {

    width: 100%;
    height: 600px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding-left: 50px;
    padding-top: 500px;
  }
  
  .swiper-slide:nth-child(1n) {
    background-color: rgb(127,23,52);
  }
  
  .swiper-slide:nth-child(2n) {
    background-color: rgb(127,23,52);
  }
  
  .swiper-slide:nth-child(3n) {
    background-color: rgb(127,23,52);
  }
  
  .swiper-slide:nth-child(4n) {
    background-color: rgb(127,23,52);
  }
  
  .swiper-slide:nth-child(5n) {
    background-color: rgb(127,23,52);
  }

  .swiper-slide:nth-child(6n) {
    background-color: rgb(127,23,52);
  }
  
  .b1{
    background-image: url('https://i.postimg.cc/6pvXfGBF/b5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .b0{
    background-image: url('https://i.postimg.cc/43vqd61b/redd-f-q-MFSP1x-YVTQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .b2{
    background-image: url('https://i.postimg.cc/XJV6WH90/b4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .b3{
    background-image: url('https://i.postimg.cc/ncsbnQ9M/pexels-joswaphotography-20024313.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .b4{
    background-image: url('https://i.postimg.cc/cCpDxCP8/b3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .b5{
    background-image: url('https://i.postimg.cc/KYK5mzD6/evangeline-shaw-nw-LTVwb7-Db-U-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .other{
    background-image: url('https://i.postimg.cc/XJV6WH90/b4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .error-image{
    background-image: url('https://i.postimg.cc/XJV6WH90/b4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .ga1{
    background-image: url('https://i.postimg.cc/yNHYQ8n7/ga4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ga2{
    background-image: url('https://i.postimg.cc/MHNzy6v2/ga7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ga3{
    background-image: url('https://i.postimg.cc/sXffzHt8/ga5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ga4{
    background-image: url('https://i.postimg.cc/N0qL34Gq/ga2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ga5{
    background-image: url('https://i.postimg.cc/5NrX3JZt/ga1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ga6{
    background-image: url('https://i.postimg.cc/qRZrTJch/ga10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ga7{
    background-image: url('https://i.postimg.cc/QN4C8sNq/ga3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ga8{
    background-image: url('https://i.postimg.cc/13pyqZS2/ga8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ga9{
    background-image: url('https://i.postimg.cc/0QNvFMS1/ga9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

 

  .ga11{
    background-image: url('https://i.postimg.cc/1tWm3cSz/ga6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  